.experiences-container {
    height: 800px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 20px 70px;
    /* background-color: lightblue; */
}

.experiences-container h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.experiences-container .bold-hr {
    border: var(--text-color) solid 1px;
    margin: 3px 0;
}

.experiences-container h2 {
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--wcs);
    font-size: 16px;
    font-weight: bold;
}

.experiences-container h2 span {
    display: inline-block;
    text-decoration: none;
    padding: 3px 5px;
}

.experiences-container h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
}

.experiences-container p {
    display: block;
    font-size: 13px;
}


.experiences-container p span {
    font-style: italic;
}

.experiences-container p .arrow {
    display: inline-block;
    padding: 3px 5px 3px 0;
    font-style: normal;
}

.experiences-container .light-hr {
    border: none;
    border-top: var(--html-bg-color) dotted 3px;
    margin: 8px 1px;
}