html{
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
  padding: 20px;
}

body {
  box-sizing: border-box;
  background-color: white;
  color: #001011;
  width: 827px;
  height: 1169px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 9px rgba(0,0,0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --body-bg-color: rgba(237, 237, 240, 1);
  --wcs: #F65454;
}

.icon{
  height: 20px;
  padding-right: 8px;
  filter: invert(47%) sepia(88%) saturate(1021%) hue-rotate(325deg) brightness(96%) contrast(101%);
}